<li>
    <a class="btn btn-danger" asp-controller="Employee" asp-action="SearchResult">SearchResult</a>
</li>
<br />
<li>
    <a class="btn btn-danger" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>
<br />
<li>
    <a class="btn btn-danger" asp-controller="Employee" asp-action="SearchWithDynamics">SearchWithDynamics</a>
</li>
